rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /deposits/{allPaths=**} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
      allow update: if false;
      allow delete: if request.auth != null && (
        request.auth.token.email in ["admin@pixi.com", "pixistaking@gmail.com", "adminpixi25@gmail.com"]
      );
    }
  }
}
